
@model List<OnlineShop.Models.CartItem>
<div class="cart">
    <p>
      <span>Cart:</span><div id="dd" class="wrapper-dropdown-2">
            @Model.Count Products
            <ul class="dropdown">
                <li> You have @Model.Count products in your cart</li>
            </ul>
        </div>
    </p>
</div>