@model List<Model.EF.ProductCategory>


    <ul>
        <li>Categories</li>
        @foreach(var item in Model)
        {
            <li><a href="/product/@item.MetaTitle-@item.ID">@item.Name</a></li>
        }
       
    </ul>

